
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .box{
    border: 5px solid salmon;
    font-size: 10rem;
    text-align: center;
  }

  .header {

  }

  .player1 {
      background-color: green;
      color: black;
  }

  .player2 {
      background-color: orange;
      color: black;
  }